[Desktop Entry]
Encoding=UTF-8
Name=KTux
Name[x-test]=xxKTuxxx
Exec=ktux -caption "%c"
Icon=ktux
Type=Service
ServiceTypes=ScreenSaver
Actions=Setup;InWindow;Root;
X-KDE-Category=Flying Things
Terminal=false

[Desktop Action Setup]
Exec=ktux -setup
Name=Setup...
Name[el]=Ρύθμιση...
Name[fr]=Configuration...
Name[x-test]=xxSetup...xx
Icon=kscreensaver

[Desktop Action InWindow]
Exec=ktux -window-id %w
Name=Display in Specified Window
Name[el]=Εμφάνιση σε προκαθορισμένο παράθυρο
Name[fr]=Affichage dans la fenêtre indiquée
Name[x-test]=xxDisplay in Specified Windowxx
NoDisplay=true

[Desktop Action Root]
Exec=ktux -root
Name=Display in Root Window
Name[el]=Προβολή στο βασικό παράθυρο
Name[fr]=Affichage dans la fenêtre principale
Name[x-test]=xxDisplay in Root Windowxx
NoDisplay=true
X-DBUS-StartupType=Multi
