[Desktop Entry]
Name=KTux
Name[af]=Ktux
Name[bg]=Тъкс
Name[bn]=কে-টাক্স
Name[eo]=Tuĉjo
Name[hi]=के-टक्स
Name[ne]=केडीई टक्स
Name[ta]= KTux
Name[tg]=KТукс
Name[th]=ตุ๊กซ์
Exec=ktux %i %m -caption "%c"
Icon=ktux
Type=Application
Actions=Setup;InWindow;Root;
X-KDE-Category=Flying Things
Terminal=false

[Desktop Action Setup]
Exec=ktux -setup
Name=Setup...
Name[af]=Opstelling...
Name[ar]=اعداد...
Name[az]=Qurulum...
Name[be]=Настаўленні...
Name[bg]=Настройване...
Name[bn]=প্রস্তুতি...
Name[br]=Kefluniadur ...
Name[bs]=Postavke...
Name[ca]=Configuració...
Name[cs]=Nastavení...
Name[cy]=Gosod ...
Name[da]=Opsætning...
Name[de]=Einrichtung ...
Name[el]=Ρύθμιση...
Name[eo]=Agordo...
Name[es]=Configuración...
Name[et]=Seadistused...
Name[eu]=Konfigurazioa...
Name[fa]=برپایی...
Name[fi]=Asetukset...
Name[fr]=Configuration...
Name[ga]=Socraigh...
Name[gl]=Configuración...
Name[he]=הגדרות...
Name[hi]=सेटअप...
Name[hr]=Postavke...
Name[hu]=Beállítás...
Name[id]=Aturan...
Name[is]=Stillingar...
Name[it]=Impostazioni...
Name[ja]=セットアップ...
Name[km]=រៀបចំ...
Name[ko]=설정...
Name[lt]=Nustatymas...
Name[lv]=Uzstādījumi...
Name[mk]=Поставување...
Name[ms]=Tetapan...
Name[nb]=Oppsett …
Name[nds]=Instellen...
Name[ne]=सेटअप...
Name[nl]=Instellingen...
Name[nn]=Oppsett …
Name[pa]=ਸੈੱਟਅੱਪ...
Name[pl]=Ustawienia...
Name[pt]=Configurar...
Name[pt_BR]=Configurar...
Name[ro]=Setări...
Name[ru]=Настройка...
Name[rw]=Iboneza...
Name[sk]=Nastavenie...
Name[sl]=Nastavitve ...
Name[sr]=Подеси...
Name[sr@Latn]=Podesi...
Name[sv]=Inställningar...
Name[ta]=அமைப்பு...
Name[tg]=Соз кардан...
Name[th]=ติดตั้ง...
Name[tr]=Kurulum...
Name[uk]=Встановити...
Name[uz]=Oʻrnatish
Name[uz@cyrillic]=Ўрнатиш
Name[ven]=Vhekanya...
Name[wa]=Apontyî...
Name[xh]=Iyacwangciswa...
Name[zh_CN]=设置...
Name[zh_TW]=設定...
Name[zu]=Iyalungiselela...
Icon=kscreensaver

[Desktop Action InWindow]
Exec=ktux -window-id %w
Name=Display in Specified Window
Name[be]=Паказваць у зададзеным вакне
Name[bg]=Стартиране в избран прозорец
Name[bn]=উল্লেখকৃত উইন্ডোতে দেখাও
Name[br]=Diskwel er prenestr spisaet
Name[bs]=Prikaži u navedenom prozoru
Name[ca]=Mostra a la finestra especificada
Name[cs]=Zobrazit v určeném okně
Name[cy]=Dangos mewn Ffenestr Benodol
Name[da]=Visning i angivet vindue
Name[de]=In vorgegebenem Fenster anzeigen
Name[el]=Εμφάνιση σε προκαθορισμένο παράθυρο
Name[eo]=Montru en indikita fenestro
Name[es]=Mostrar en la ventana especificada
Name[et]=Määratud aknas näitamine
Name[eu]=Zehaztutako lehioan erakutsi
Name[fa]=نمایش در پنجرۀ مشخص‌شده
Name[fi]=Näytä määrätyssä ikkunassa
Name[fr]=Affichage dans la fenêtre indiquée
Name[ga]=Taispeáin san Fhuinneog Sonraithe
Name[gl]=Mostrar na fiestra indicada
Name[he]=הצג בחלון המצויין
Name[hr]=Prikazianje u određenom prozoru
Name[hu]=Megjelenítés a megadott ablakban
Name[id]=Ditampilkan di Window Khusus
Name[is]=Birta í ákveðnum glugga
Name[it]=Mostra nella finestra specificata
Name[ja]=指定ウィンドウで表示
Name[km]=បង្ហាញ​ក្នុង​បង្អួច​ជាក់លាក់
Name[ko]=지정한 창에 표시하기
Name[lt]=Rodyti nurodytame lange
Name[lv]=Rādīt norādītajā logā
Name[mk]=Приказ во зададениот прозорец
Name[mt]=Uri fil-window speċifikata
Name[nb]=Vis i det oppgitte vinduet
Name[nds]=In't angeven Finster wiesen
Name[ne]=निर्दिष्ट सञ्झ्यालमा प्रदर्शन गर्नुहोस्
Name[nl]=Weergeven in een gedefinieerd venster
Name[nn]=Vis i oppgjeve vindauge
Name[pl]=Wyświetl w zadanym oknie
Name[pt]=Mostrar na Janela Indicada
Name[pt_BR]=Mostrar em janela especificada
Name[ro]=Afişează în fereastra specificată
Name[ru]=Показывать в указанном окне
Name[rw]=Kwerekana mu Idirishya Ryihariye
Name[sk]=Zobraziť v zadanom okne
Name[sl]=Prikaz v določenemu oknu
Name[sr]=Прикажи у задатом прозору
Name[sr@Latn]=Prikaži u zadatom prozoru
Name[sv]=Visa i angivet fönster
Name[ta]= குறிப்பிட்ட சாளர காட்சியை காட்டு
Name[tg]=Дар Тирезаи Муайяншуда Намоиш додан
Name[tr]=Belirtilen Pencerede Göster
Name[uk]=Відобразити у вказаному вікні
Name[wa]=Håyner dins l' purnea specifyî
Name[zh_CN]=在指定的窗口中显示
Name[zh_TW]=在指定的視窗中顯示
NoDisplay=true

[Desktop Action Root]
Exec=ktux -root
Name=Display in Root Window
Name[be]=Паказваць у фанавым вакне
Name[bg]=Стартиране в главния прозорец
Name[bn]=রুট উইন্ডোতে দেখাও
Name[br]=Diskwel er prenestr gwrizienn
Name[bs]=Prikaži u korijenskom prozoru
Name[ca]=Mostra a la finestra arrel
Name[cs]=Zobrazit na pozadí plochy
Name[cy]=Dangos mewn Ffenestr Wraidd
Name[da]=Visning i root-vindue
Name[de]=Im Hintergrundfenster anzeigen
Name[el]=Προβολή στο βασικό παράθυρο
Name[eo]=Montru en radika fenestro
Name[es]=Mostrar en la ventana raíz
Name[et]=Juuraknas näitamine
Name[eu]=Lehio nagusian erakutsi
Name[fa]=نمایش در پنجرۀ ریشه
Name[fi]=Näytä juuri-ikkunassa
Name[fr]=Affichage dans la fenêtre principale
Name[ga]=Taispeáin sa bhFréamhfhuinneog
Name[gl]=Mostrar na fiestra raiz
Name[he]=הצג בחלון השורש
Name[hr]=Prikazivanje u korijenskom prozoru
Name[hu]=Megjelenítés a gyökérablakban
Name[id]=Ditampilkan di Root Window
Name[is]=Birta í rótarglugga
Name[it]=Mostra sullo sfondo
Name[ja]=ルートウィンドウで表示
Name[km]=បង្ហាញ​ក្នុង​បង្អួច Root
Name[ko]=주 창에 표시하기
Name[lt]=Rodyti root lange
Name[lv]=Rādīt galvenajā logā
Name[mk]=Приказ во коренскиот прозорец
Name[mt]=Uri fil-window ewlenija
Name[nb]=Vis i rotvinduet
Name[nds]=In't Hööftfinster wiesen
Name[ne]=मूल सञ्झ्यालमा प्रदर्शन गर्नुहोस्
Name[nl]=Weergeven in hoofdvenster
Name[nn]=Vis i rotvindauget
Name[pl]=Wyświetl w oknie głównym
Name[pt]=Mostrar na Janela de Fundo
Name[pt_BR]=Mostrar na janela raiz
Name[ro]=Afişează în fereastra rădăcină
Name[ru]=Показывать на фоне рабочего стола
Name[rw]=Kwerekana mu Idirishya Umuzi
Name[sk]=Zobraziť v koreňovom okne
Name[sl]=Prikaz v korenskem oknu
Name[sr]=Прикажи у кореном прозору
Name[sr@Latn]=Prikaži u korenom prozoru
Name[sv]=Visa i rotfönster
Name[ta]=மூல சாளரத்தில் காட்டு
Name[tg]=Дар Тирезаи Решавӣ Намоиш додан
Name[tr]=Kök Pencerede Göster
Name[uk]=Відобразити на тлі екрана
Name[wa]=Håyner e purnea raecene (li fond do scribanne)
Name[zh_CN]=在根窗口中显示
Name[zh_TW]=在根視窗中顯示
NoDisplay=true
X-DCOP-ServiceType=Multi
