[Desktop Entry]
Name=KTux
Name[af]=Ktux
Name[ar]=KTux
Name[ast]=KTux
Name[be]=KTux
Name[bg]=KTux
Name[bn]=কে-টাক্স
Name[br]=KTux
Name[bs]=KTux
Name[ca]=KTux
Name[ca@valencia]=KTux
Name[cs]=KTux
Name[cy]=KTux
Name[da]=KTux
Name[de]=KTux
Name[el]=KTux
Name[en_GB]=KTux
Name[eo]=KTux
Name[es]=KTux
Name[et]=KTux
Name[eu]=KTux
Name[fi]=KTux
Name[fr]=KTux
Name[ga]=KTux
Name[gl]=KTux
Name[he]=KTux
Name[hne]=के-टक्स
Name[hr]=KTux
Name[hu]=KTux
Name[is]=KTux
Name[it]=KTux
Name[ja]=KTux
Name[kk]=KTux
Name[km]=KTux
Name[ko]=KTux
Name[ku]=KTux
Name[lt]=KTux
Name[lv]=KTux
Name[mk]=KTux
Name[ml]=കെടക്സ്
Name[mr]=के-टक्स
Name[ms]=KTux
Name[nb]=KTux
Name[nds]=KTux
Name[ne]=केटक्स
Name[nl]=KTux
Name[nn]=KTux
Name[pa]=ਕੇ-ਟੱਕਸ
Name[pl]=KTux
Name[pt]=KTux
Name[pt_BR]=KTux
Name[ro]=KTux
Name[ru]=KTux
Name[sk]=KTux
Name[sl]=KTux
Name[sr]=К‑тукс
Name[sr@ijekavian]=К‑тукс
Name[sr@ijekavianlatin]=KTux
Name[sr@latin]=KTux
Name[sv]=KTux
Name[ta]= KTux
Name[tg]=KТукс
Name[th]=KTux
Name[tr]=KTux
Name[ug]=KTux
Name[uk]=KTux
Name[wa]=KTux
Name[xh]=KTux
Name[x-test]=xxKTuxxx
Name[zh_CN]=KTux
Name[zh_TW]=KTux
Exec=ktux -caption %c
Icon=ktux
Type=Application
Terminal=false
